# env artifacts
build/*

# python packaging
*egg-info

# hugo
hugo/public
hugo/.hugo_build.lock
hugo/content/**/*.qmd
hugo/content/**/*.lock
hugo/content/**/*.toml

# --- quarto build ---
qmd/.quarto/
qmd/*index_files
# freeze, for now
qmd/_freeze
# by default we assume that stuff in blog/ isn't unique to this repo.
# we can add exceptions ad hoc
qmd/blog/*
!qmd/blog/index.qmd

# local user config
.envrc

# everything else
*__pycache__
zola/content/blog/just-enough-conda/pixi.lock
zola/content/blog/just-enough-conda/pixi.toml
zola/content/blog/just-enough-conda/index.qmd
zola/public
