[submodule "submodules/themes/hugo-theme-re-terminal"]
	path = submodules/themes/hugo-theme-re-terminal
	url = git@github.com:mirus-ua/hugo-theme-re-terminal.git
[submodule "submodules/blog-monorepo"]
	path = submodules/blog-monorepo
	url = git@github.com:mikedecr/blog-monorepo.git
[submodule "zola/themes/zola-hook"]
	path = zola/themes/zola-hook
	url = https://github.com/InputUsername/zola-hook
